

.clock {
    font-family: 'Share Tech Mono', monospace;
    margin-top: 55px;
    color: #daf6ff;
    position: absolute;
    left: 50%;
    top: inherit;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.time{
    letter-spacing: 0.05em;
    font-size: 27px;
    font-weight: 800;
}

.date{
    letter-spacing: 0.1em;
    font-size: 24px;
    font-weight: 800;
}
