
span {
  overflow: hidden;
  display: block;
}
.loader-wrap {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.loader-wrap svg {
  position: absolute;
  width: 100vw;
  height: 110vh;
}
.loader-wrap .loader-wrap-heading h1 {
  font-size: 70px;
  z-index: 20;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: 'Ogg';
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.container h1 {
  font-family: 'Ogg';
  font-weight: lighter;
  font-size: 100px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .loader-wrap svg {
    width: 200vw;
    margin-left: -50vw;
  }
  .loader-wrap .loader-wrap-heading,
  .container h1 {
    font-size: 60px;
  }
}

.loader-progress {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: white;
  font-family: "Arial", sans-serif;
  letter-spacing: 1px;
}
