/* .opcatity-bg{
    /* background-color: white;
    content: "";
    height: 100vh;
    position: absolute;
    top: 100%;
    width: 100;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0%);
} */