@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.stikimask{
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 200vh;
  align-items: center;
  justify-content: center;
  mask-image: url('/medias/mask.svg');
  mask-position: 52.35% center;
  mask-repeat: no-repeat;
  mask-size: 80%;
  background-color: #0a0a0a;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
