@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fg: #17181c;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.stikimask {
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 200vh;
  align-items: center;
  justify-content: center;
  mask-image: url("/medias/mask.svg");
  mask-position: 52.35% center;
  mask-repeat: no-repeat;
  mask-size: 80%;
  background-color: #0a0a0a;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.project {
  border-top: 2px solid black;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project p {
  font-size: 5vw;
  margin: 0px;
}
.project p:nth-of-type(1) {
  margin-right: 0.75vw;
}
.project p:nth-of-type(2) {
  margin-left: 0.75vw;
}
.project:last-of-type {
  border-bottom: 2px solid black;
}
.project .imgContainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 0;
}
.project img {
  width: 10vw;
}
