@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fg: #17181c;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.stikimask {
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 200vh;
  align-items: center;
  justify-content: center;
  mask-image: url("/medias/mask.svg");
  mask-position: 52.35% center;
  mask-repeat: no-repeat;
  mask-size: 80%;
  background-color: #0a0a0a;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.project {
  border-top: 2px solid black;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project p {
  font-size: 5vw;
  margin: 0px;
}
.project p:nth-of-type(1) {
  margin-right: 0.75vw;
}
.project p:nth-of-type(2) {
  margin-left: 0.75vw;
}
.project:last-of-type {
  border-bottom: 2px solid black;
}
.project .imgContainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 0;
}
.project img {
  width: 10vw;
}
svg {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 150px;
	width: 150px;
}


html {

  scroll-behavior: smooth;
}
.grid-section {
  z-index: 1;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  position: relative;
}

.grid-item {
  z-index: 1;
  transform-origin: 50% 100%;
  border-radius: .5rem;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease; /* Ajout d'une transition pour la transformation */
}

.clip-reg {
  z-index: 2; /* Assurez-vous que le texte soit au-dessus de l'arrière-plan */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  height: 1.25rem;
}

.text-reg {
  letter-spacing: 0;
  font-size: 1em;
  font-weight: 400;
  position: relative;
  z-index: 2; /* Pour que le texte soit toujours au-dessus de l'arrière-plan */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Animation fluide pour l'opacité et la taille du texte */
}

.grid-item__bg {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background-color: #ffffff14;
  border-radius: .5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 0; /* Placer l'arrière-plan derrière le texte */
  transition: background-color 0.3s cubic-bezier(.645, .045, .355, 1), transform 0.5s ease; /* Transition pour l'arrière-plan */
}

.grid-item__bg h1 {
  font-size: 5rem; /* Très grand texte */
  color: rgba(255, 255, 255, 0.15); /* Couleur claire et semi-transparente */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none; /* Empêche le texte d'interférer avec les autres interactions */
  transition: opacity 0.3s ease;
}

.grid-item:hover .grid-item__bg h1 {
  opacity: 1; /* Rendre le texte visible au survol */
}

.grid-item:hover .grid-item__bg {
  background-color: rgba(0, 0, 0, 0.9); /* Changer la couleur de fond lors du survol */
  transform: scale(1.05); /* Légère mise à l'échelle de l'arrière-plan */
}
