.nav{
    overflow: hidden;
 }
 
 .wrapper{
     display: flex;
     gap: 50px;
     margin-bottom: 80px;
     background-color: rgba(255, 228, 196, 0.829);
 }
 
 .container{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 
 @media only screen and (min-width: 1000px) {
    
     .wrapper{
         margin-bottom: 0px;
         justify-content: space-between;
     }
 }